<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Main</title>
<style>

.class1 { 
 cursor: url(NightElf.cur), default;
}
	
.class2 { 
 cursor: url(Undead.cur), default;
}
	
	.header {
  background-color: #000000;
  padding-bottom: 100px;
  color: #B8B8B8;
  text-align: center;
  font-size: 2em;
}


	
body {
		background: #000000;
	}
	
</style>

</head>

<body>

<div id="myDIV" class="header">
  <img src="Dota Banner.png" width="100%">
</div>



  <a href="https://dota-1.herokuapp.com/sentinel" class="class1"><img src="Sentinel Large.png" width="50%"></a><a href="https://dota-1.herokuapp.com/scourge" class="class2"><img src="Scourge Large.png" width="50%"></a>
  

</body>
</html>

